<div class="user-details">
  <h1> Sobre </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <em alt="html5" class="devicon-html5-plain"></em>
      <em class="devicon-bootstrap-plain colored"></em>
      <em class="devicon-sass-original colored"></em>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <em class="devicon-javascript-plain colored"></em>
      <em class="devicon-python-plain colored"></em>
      <em class="devicon-react-original colored"></em>
      <em class="devicon-nodejs-plain"></em>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <em class="devicon-git-plain"></em>
    </div>
</div>
